/*
~~~~~~~~ Utility classes ~~~~~~~~~~
*/

.flex {
  display: flex;
}

.full-center {
  justify-content: center;
  align-items: center;
}

.main-bg {
  background-color: #0f9b6f;
  color: white;
}

.main-color {
  color: #0f9b6f;
}

.second-bg {
  background-color: #c33c54;
  color: white;
}

.second-color {
  color: #c33c54;
}

.alert-danger {
  width: 90%;
  margin-bottom: 1em;
}

.alert-danger p {
  margin: 1em 0.5em;
}

.btn {
  width: auto;
  padding: 0.5em 2em;
  font-weight: bold;
  text-decoration: none;
}

/*
~~~~~~~ Global rules ~~~~~~~~
*/

* {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}

h1, h2, h3 {
  font-family: 'VT323', monospace;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2, h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 0;
}

input, select, textarea, .btn, .alert-danger, article {
  border: 2px solid black;
}

/*
~~~~~~~~ Header rules ~~~~~~~~~
*/

header {
  height: 40vh;
  background-image: url('../img/black_castle.png');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  border-bottom: 2px solid black;
}

header p {
  font-size: 1.2em;
  font-style: italic;
  margin: 0
}

header span {
  font-size: 5em;
}

/*
~~~~~~~~~ Main rules ~~~~~~~~~~
*/

main {
  width: 90%;
  margin: auto;
}

#form_section {
  width: 40%;
}

#characters_section {
  width: 60%;
}

form {
  width: 90%;
}

input, select, textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input, select, textarea {
  margin-top: 0.3em;
  margin-bottom: 1em;
  border-radius: 0;
  width: 100%;
  padding: 0.3em 0;
  padding-left: 0.3em;
}

select {
  background-color: white;
}

input[type=submit]{
  display: block;
  margin: auto;
}

#characters_section div {
  flex-wrap: wrap;
  justify-content: space-between;
}

article {
  width: 200px;
  height: 200px;
  margin: 2em 0;
  text-align: center;
  padding: 0.5em;
}

article p {
  font-size: 0.8em;
  font-style: italic;
}

.character-image {
  font-size: 4em;
}

/*
~~~~~~~~ Footer rules ~~~~~~~~~
*/

footer {
  margin-bottom: 0;
  margin-top: 3em;
  height: 15vh;
  border-top: 2px solid black;
}
