/* Global rules */

* {
  font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
  font-family: 'VT323', monospace;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

/* Header rules */

header {
  height: 40vh;
  background-image: url('../img/black_castle.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0f9b6f;
}

header p {
  font-size: 1.2em;
  font-style: italic;
}
