/* Global rules */

* {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}

h1, h2, h3 {
  font-family: 'VT323', monospace;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

/* Header rules */

header {
  height: 40vh;
  background-image: url('../img/black_castle.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0f9b6f;
}

header p {
  font-size: 1.2em;
  font-style: italic;
}

/* Main rules */

main {
  width: 90%;
  margin: auto;
  display: flex;
}

#form_section {
  width: 40%;
}

#characters_section {
  width: 60%;
}

form {
  width: 90%;
}

input, select, textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input, select, textarea {
  margin-top: 0.3em;
  margin-bottom: 1em;
  border: 2px solid black;
  border-radius: 0;
  width: 100%;
  padding: 0.3em 0;
  padding-left: 0.3em;
}

select {
  background-color: white;
}

input[type=submit]{
  background-color: #0f9b6f;
  color: white;
  width: auto;
  display: block;
  margin: auto;
  padding: 0.5em 2em;
}
