/* Global rules */

* {
  font-family: 'Roboto', sans-serif;
  max-width: 100%;
}

h1, h2, h3 {
  font-family: 'VT323', monospace;
}

h1 {
  font-size: 3em;
  margin: 0;
}

h2, h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.2em;
  margin-top: 1em;
  margin-bottom: 0;
}
/* Header rules */

header {
  height: 40vh;
  background-image: url('../img/black_castle.png');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0f9b6f;
  border-bottom: 2px solid black;
}

header p {
  font-size: 1.2em;
  font-style: italic;
  margin: 0
}

header span {
  font-size: 5em;
}

/* Main rules */

main {
  width: 90%;
  margin: auto;
  display: flex;
}

#form_section {
  width: 40%;
}

#characters_section {
  width: 60%;
}

form {
  width: 90%;
}

input, select, textarea {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

input, select, textarea {
  margin-top: 0.3em;
  margin-bottom: 1em;
  border: 2px solid black;
  border-radius: 0;
  width: 100%;
  padding: 0.3em 0;
  padding-left: 0.3em;
}

select {
  background-color: white;
}

input[type=submit]{
  background-color: #0f9b6f;
  color: white;
  width: auto;
  display: block;
  margin: auto;
  padding: 0.5em 2em;
  font-weight: bold;
}

.alert-danger {
  width: 90%;
  background-color: #c33c54;
  border: 2px solid black;
  margin-bottom: 1em;
}

.alert-danger p {
  margin: 1em 0.5em;
}

.btn {
  background-color: #c33c54;
  color: white;
  width: auto;
  padding: 0.3em 1em;
  border: 2px solid black;
  text-decoration: none;
  font-weight: bold;
}

#characters_section div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

article {
  width: 200px;
  height: 200px;
  background-color: #0f9b6f;
  color: white;
  border: 2px solid black;
  margin: 1em 0;
  text-align: center;
  padding: 0.5em;
}

article p {
  font-size: 0.8em;
  font-style: italic;
}

.character_image {
  font-size: 4em;
}

.life {
  color: #c33c54;
}

/* Footer style */

footer {
  margin-bottom: 0;
  margin-top: 3em;
  height: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0f9b6f;
  color: white;
  border-top: 2px solid black;
}
